.places {
    max-width: 980px;
    display: grid;
    grid-template-rows: repeat(5, auto);
    grid-template-columns: 980px;
    gap: 80px;
    margin: 92px auto 0px auto;
    box-sizing: border-box;
}
@media screen and (max-width:1250px) {
    .places {
        max-width: 928px;
    }
}
@media screen and (max-width:999px) {
    .places {
        max-width: 720px;
        gap: 72px;
        margin: 88px auto 0px auto;
    }
}
@media screen and (max-width:767px) {
    .places {
        max-width: 320px;
        margin: 64px auto 0px auto;
        grid-template-columns: 320px;
        grid-template-rows: auto;
        gap: 49px;
    }
}
