.lang__link {
    color: #ffffff;
    text-decoration: none;
    margin-top: 18px;
    margin-right: 26px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
    font-family: 'Inter', "Arial ", sans-serif;
}
.lang__link:hover {
    opacity: .8;
}
@media screen and (max-width:1250px) {
    .lang__link {
        margin-top: 18px;
        margin-right: 0px;
    }
}
@media screen and (max-width:999px) {
    .lang__link {
        margin-right: 24px;
    }
}
@media screen and (max-width:767px) {
    .lang__link {
        margin-top: 2px;
        margin-right: 2px;
        font-size: 18px;
        line-height: 20px;
    }
}