.lead {
    max-width: 984px;
    display: flex;
    flex-direction: column;
    margin: 56px auto 0px auto;
    position: relative;
    box-sizing: border-box;
}
@media screen and (max-width:1250px) {
    .lead {
        max-width: 928px;
        margin: 48px auto 0px auto;
    }
}
@media screen and (max-width:999px) {
    .lead {
        max-width: 768px;
    }
}
@media screen and (max-width:767px) {
    .lead {
        width: 100%;
    }
}
