.lead {
    max-width: 984px;
    display: flex;
    flex-direction: column;
    margin: 64px 66px 0px 124px;
    position: relative;
    box-sizing: border-box;
}
@media screen and (max-width:1250px) {
    .lead {
        max-width: 928px;
        margin: 48px 0px 0px 0px;
    }
}
@media screen and (max-width:999px) {
    .lead {
        max-width: 768px;
        margin-top: 12px;
    }
}
@media screen and (max-width:767px) {
    .lead {
        width: 100%;
        margin: 39px 0px 0px 0px;
    }
}
