.header {
    max-width: 1183px;
    min-height: 54px;
    align-items: center;
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
    box-sizing: border-box;
}
@media screen and (max-width:1250px) {
    .header {
        max-width: 928px;
        min-height: 52px;
    }
}
@media screen and (max-width:999px) {
    .header {
        max-width: 720px;
    }
}
@media screen and (max-width:767px) {
    .header {
        width: 100%;
        min-height: 42px;
        padding-left: 16px;
        padding-right: 16px;
        margin-top: 16px;
    }
}