.place__website-href {
    font-family: 'Inter', "Arial ", sans-serif;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    align-content: flex-end;
    color: #fff;
}
.place__website-href:hover {
    opacity: .8;
}
@media screen and (max-width:544px) {
    .place__website-href {
      max-width: 288px;
      margin: 0px 0px 32px 0px;
    }
}