.intro {
    max-width: 690px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 96px auto 0px 95px;
    box-sizing: border-box;
    border: 1px solid green;
    }
    @media screen and (max-width:1250px) {
        .intro {
            margin: 92px auto 0px 0px;
        }
    }
    @media screen and (max-width:999px) {
        .intro {
            width: 100%;
            margin: 124px 24px 0px 24px;
        }
    }
    @media screen and (max-width:767px) {
        .intro {
            width: 100%;
            margin: 73px 0px 0px 0px;
            padding: 0px 16px 0px 16px;
        }
    }