.intro {
    max-width: 690px;
    min-height: 429px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 96px auto 0px 147px;
    }
    @media screen and (max-width:1250px) {
        .intro {
            margin: 92px auto 0px 48px;
        }
    }
    @media screen and (max-width:999px) {
        .intro {
            max-width: 720px;
            margin: 88px 24px 0px 24px;
        }
    }
    @media screen and (max-width:767px) {
        .intro {
            max-width: 288px;
            margin: 64px 16px 0px 16px;
        }
    }