.place__paragraph-bottom {
    margin-top: 26px;
    font-family: 'Inter';
    font-size: 18px;
    line-height: 1.63;
    font-weight: 400;
    margin-bottom: 0px;
}
@media screen and (max-width:999px) {
    .place__paragraph-bottom {
        font-size: 16px;
        line-height: 1.63;
    }
}
@media screen and (max-width:767px) {
    .place__paragraph-bottom {
        max-width: 288px;
        margin-left: 1.25px;
        margin-right: 8.28px;
    }
}