.lead__subtitle {
    max-width: 640px;
    margin: 32px auto 64px auto;
    font-family: Inter, "Arial ", sans-serif;
    font-weight: 400;
    line-height: 36px;
    font-size: 30px;
    text-align: center;
}
@media screen and (max-width:1250px) {
    .lead__subtitle {
        margin: 32px auto 56px auto;
    }
}
@media screen and (max-width:999px) {
    .lead__subtitle {
        width: 100%;
    }
}
@media screen and (max-width:767px) {
    .lead__subtitle {
        font-size: 16px;
        line-height: 20px;
        margin: 16px auto 40px auto;
    }
}