.cover {
    max-width: 1280px;
}
@media screen and (max-width: 1250px){
    .cover {
        max-width: 1024px;
        margin-top: 110px;
    }
}
@media screen and (max-width: 999px){
    .cover {
        max-width: 768px;
        min-height: 480px;
        margin-top: 90px;
    }
}
@media screen and (max-width: 767px){
    .cover {
        max-width: 320px;
        min-height: 200px;
        margin-top: 143px;
    }
}
