.cover__title {
    max-width: 560px;
    font-family: 'Inter';
    font-size: 72px;
    line-height: 76px;
    font-weight: 800;
    text-align: center;
    margin: 0px;
}
/* @media screen and (max-width:1152px) {
    .cover__title {
        max-width: 1024px;
        min-height: 640px;
        margin: 110px 0px 0px 0px;
    }
} */
/* @media screen and (max-width:896px) {
    .cover__title {
        max-width: 768px;
        min-height: 480px;
        margin: 90px 0px 0px 0px; 
    }
} */
@media screen and (max-width:767px) {
    .cover__title {
        max-width: 288px;
        min-height: 70px;
        font-size: 32px;
        line-height: 35px;
    }
}