.footer {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
    align-items: flex-end;
    max-width: 1175px;
    margin: 0px;
}
@media screen and (max-width:1250px) {
    .footer {
        max-width: 928px;
        margin: 0px;
    }
}
@media screen and (max-width:999px) {
    .footer {
        max-width: 720px;
        margin: 0px 24px 0px 24px;
    }
}
@media screen and (max-width:767px) {
    .footer {
        max-width: 186px;
        flex-direction: column;
        margin: 64px auto 0px 16px;
    }
}