.lang__link_active {
    text-decoration: underline;
    margin-right: 18px;
    }
@media screen and (max-width:1250px) {
    .lang__link_active {
        margin-right: 16px;
    }
}
@media screen and (max-width:999px) {
    .lang__link_active {
        margin-right: 18px;
    }
}
@media screen and (max-width:767px) {
    .lang__link_active {
        margin-top: 2px;
        font-size: 18px;
        line-height: 20px;
    }
}